[MASTER]
persistent=yes

[REPORTS]
output-format=colorized

[BASIC]
no-docstring-rgx=__.*__|_.*|test_.*

[TYPECHECK]
defining-attr-methods=__init__,__new__,setUp

[VARIABLES]
dummy-variables-rgx=_|dummy

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes

[MISCELLANEOUS]
notes=XXX
